div {
  outline: 0px dashed green;
  height: 302px;
}

#logoPNG {
  float: left;
  margin-left: 5%;
  margin-top: 5%;
  
}
#delicious {
  float: left;
  height: 25px;
  margin-top: 65px;
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 35px;
  font-style:italic;
  font-family:pacifico;
  width: 30%;
  margin-right: 300px;
}
#best {
  float: left;
  width: 30%;
  margin-left:10px;
  margin-top: 22px;
  font-size: 12px;
  
  width: 30%;
  margin-right: 300px;
}

#facebook {
  float:center;
  margin-left: 255px;
  margin-right: 1px;
  margin-top: 95px;
}
#twitter {
  float:center;
  margin-right: 1px;
}
#googleplus {
  float:center;
  margin-left: 1px;
}
#instagram {
  float:center;
  margin-left: 1px;
}
#flickr {
  float:center;
  margin-left: 1px;
}
#pinterest {
  float:center;
  margin-left: 1px;
  margin-right: 15px;
}
#wiki {
  float: center; 
  margin-left: 5px;
}
#mail {
  float: center;
  margin-right: 1px;
}


#diagboximg {
  max-height: 150px;
max-width: 1400px;
width: 1310px;
height: 30px;
opacity: 0.2;
margin-left:5%;
position: absolute;
left: 0px;
top: 195px;
z-index: -1;
}

#chocolate-pizza {
  position: absolute;
left: 80px;
top: 295px;
z-index: -1;

}

h1 {
  font-size: 55px; 
  font-display: bold;
  margin-block-start: 0.07em;
    margin-block-end: 0.07em;
  }
h3 {
  font-size: 130%;
  color: rgba(0, 0, 0, 0.432);
  margin-block-start: .01em;
  margin-block-end: .01em;
}
#print {
  position: absolute;
  left: 1245px;
  top: 75px;
  z-index: -1;
}
#print2 {
  position: absolute;
  left: 1260px;
  top: 55px;
  z-index: -1;
  color: rgba(131, 122, 122, 0.61)
}

#cpizzaimg {
  float: left;
  position: absolute;
  left: 75px;
  top: 525px;
  width:85%;
  z-index: -1;
  z-index: inherit 1;
}
#instructions {
  text-indent: 40px;
  color:rgba(0, 0, 0, 0.644);
  width:85%;
  margin-top: 550px;
  margin-left: 75px;
  font-size: 22px;  
}

#notecard {
  width:88%;
  margin-left: 75px;
  margin-top: 25px;
}